<!-- This thymeleaf dependency has to be here for serving the html file via Spring MVC -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>
			Login page
		</title>
		<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8"></meta>
		<meta name="_csrf_token" th:content="${_csrf.token}"/>
		<meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" type="text/css" href="resources/style.css"></link>
		<link rel="stylesheet" type="text/css" href="resources/Skeleton-2.0.4/css/normalize.css"></link>
		<link rel="stylesheet" type="text/css" href="resources/Skeleton-2.0.4/css/skeleton.css"></link>
		<script src="resources/js/react-15.0.1/build/react.js"></script>
		<script src="resources/js/react-15.0.1/build/react-with-addons.js"></script>
    	<script src="resources/js/react-15.0.1/build/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    	<script type="text/babel" src="resources/js/javaScript.js"></script>
	</head>
	<body class="container">
		
		<form id="loginPage" class="eight columns offset-by-two" th:action="@{/login}" method="POST">
		<input type="hidden"
			th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}"/>
        </form>
        
        
		<script type="text/babel" src="resources/js/javaScript.js"></script>
	</body>
</html>

